<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="mail.Lebara.sa"/>
    <add key="TimeBand" value="50000"/>
    <add key="ControlService" value="1"/>
    <add key="Writelog" value="1"/>
    <add key="ApplyVAT" value="1"/>
    <add key="CUTOFFDATE" value="20170118000000"/>
    <add key="HybridOffers" value="1871101107,1372995808,172199863,1772996021,152518612,744406359,1844404300,1878863580,1460894906,1762118247,1155920926,356062515,1554931405"/>
    <!--Production Env   -->
    <add key="CRM" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.102.77)(PORT=1526)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=crmdba)));User Id=crmpub;Password=Huawei12#$"/>
    <add key="ESP" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.102.87)(PORT=1526)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=provdb)));User Id=esb;Password=Huawei12#$ "/>
    <add key="BICPCon" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.102.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=bidba2)));User Id=DWHQUERY;Password=DWHQUERY_01"/>
    <add key="MySQLCon" value="Server=10.200.101.27;Port=3306;Database=ej;Uid=appuser;Pwd=Ej2014kS@;"/>
    <add key="FeeDedAPI" value="http://10.200.102.83:7081/SELFCARE/HWBSS_Transfer"/>
    <!--Test Env 
    <add key="CRM" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.96.136)(PORT=1526)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=suseora)));User Id=crmpub;Password=CRM%crmpub01"/>
    <add key="ESP" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.96.136)(PORT=1526)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=suseora)));User Id=esb;Password=Huawei12#$ "/>
    <add key="BICPCon" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.200.102.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=bidba2)));User Id=DWHQUERY;Password=DWHQUERY_01"/>
    <add key="MySQLCon" value="Server=10.100.10.38;Port=3306;Database=SmsServer;Uid=fouad;Pwd=1234;"/>
    <add key="FeeDedAPI" value="http://10.200.96.135:7081/SELFCARE/HWBSS_Transfer"/>
  	-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
